/*--- Custom page CSS --- */

@import "compass/css3";

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }

div {
    width: 20%;
    min-width: 13em;
    margin: 1em auto;
  }
  p {
    font-family: helvetica;
    font-size: 2em;
    font-weight: bold;
  }
  
  .post-it-note {
     padding: 2em;
     background: rgb(255,215,7);
     position: relative;
     min-height: 10em;
  }
  .post-it-note:after {
     content: "";
     position: absolute;
     bottom: -2em;
     left: 0;
     right: 2em;
     border-width: 1em;
     border-style: solid;
     border-color: rgb(255,215,7);
  }
  .post-it-note:before {
     content: "";
     position: absolute;
     bottom: -2em;
     right: 0;
     border-width: 2em 2em 0 0;
     border-style: solid;
     border-color: darken(rgb(255,215,7), 10%) transparent;;
  }