{% extends 'base.html' %}

{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">POST-IT</h1>
      <p class="lead">Vamos lá! Escreve uma mensagem legal 😁📝</p>
      <form>
          <div class="row g-3 align-items-center">
              <div class="form-group">
              <input type="text" class="form-control" id="inputmsg" placeholder="Deixe um recado legal aqui...">
              </div>
              <div class="form-group">
              <button type="submit" class="btn btn-primary">OK</button>
              </div>    
          </div>
        </form>
        <hr>
        <div>
          {% for post in posts %}
          <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">{{ post.author }}</h4>
            <p>{{ post.content }}</p>
            <hr>
            <p class="mb-0">{{ post.date_posted }}</p>
          </div>
          {% endfor %}
        </div>             
    </div>
  </main>
{% endblock content %}